@import "tailwindcss";
@import "../styles/index.css";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--bg-default);
  color: var(--text-primary);
}

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
